@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-SemiBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-ExtraBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-Black.ttf");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins" !important;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("./assets/background-ondas.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.text {
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 750px;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  padding: 0 5% !important;
  box-sizing: border-box;
}

.text h1 {
  font-size: 2.6em;
  letter-spacing: 0.065em;
  margin-bottom: 40px;
  color: #2b3342;
  font-family: "Poppins";
  font-weight: 600;
}

.text p {
  font-size: 1.6em;
  letter-spacing: 0.065em;
  color: #2b3342;
  margin-bottom: 40px;
}

.text button {
  width: 235px;
  height: 50px;
  background-color: #0181ee;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.img-ondas {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.img-logo {
  width: 200px;
}

@media screen and (max-width: 450px) {
  .text h1 {
    font-size: 2.2em;
  }

  .text p {
    font-size: 1em;
  }

  .img-logo {
    width: 120px;
  }
}
